<link rel="stylesheet" href="/assets/css/themes.css">
<link rel="stylesheet" href="/assets/css/styles-header.css">

<script src="assets/js/hamburger.js"></script>
<script src="assets/js/theme.js"></script>

<div class="mini-container">
    <a href="/index.html">
    <img src="/assets/img/Mini.GIF" alt="Mini 8-bit" class="mini-image">
    <img src="/assets/img/Mega.GIF" alt="Mini 8-bit" class="mini-image">
    </a>
</div>

<!-- Barre contenant les textes pour navigation -->
<div class="navbar">
    <a href="/index.html">Home (logo)</a>
    <a href="#">what more ?</a>
    <div class="theme-selector">
        <button id="theme-btn">Theme</button>
        <ul id="theme-menu" class="hidden">
            <li data-theme="light">Basic</li>
            <li data-theme="dark">Reverse</li>
            <li data-theme="happy">Happy</li>
            <li data-theme="mystery">mystery</li>

        </ul>
    </div>
    
</div>

<!-- Bouton hamburger pour mobile -->
<div class="hamburger" id="hamburger">
    &#9776; <!-- Le symbole du hamburger -->
</div>

