header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Taille de la navbar */
    background-color: var(--header-color); /* Couleur de fond de la navbar */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4); /* Ombre */
    z-index: 1000;
}
.mini-image {
    
    height: 80px;
    width: auto;
}
.mini-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.navbar {
    position: relative; /* Positionner la navbar indépendamment des autres éléments */
    left: 50%; /* Place la navbar au centre horizontalement */
    transform: translateX(-50%); /* Déplace la navbar de 50% de sa largeur pour la centrer */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px; /* Un peu d'espace à droite */
}
.hamburger {
    display: none; /* Par défaut, le hamburger est masqué */
}


.navbar a {
    color: var(--text-color-navbar);
    font-family: "Tiny5";
    font-weight: 500;
    text-decoration: none;
    font-size: 18px; /* Taille du texte */
    padding: 10px 15px; /* Espacement autour des liens */
    text-align: center; /* Centrer le texte des liens */
}
.theme-selector {
    position: relative;
}
#theme-btn {
    font-family: Tiny5;
    font-size: 18px;
    color: var(--text-color-2);
    background-color: var(--btn-bg-2);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
#theme-menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    z-index: 10;
    background: white;
}
#theme-menu li {
    font-family: Tiny5;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    height: 20px;
}

.hidden {
    display: none;
}



@media (max-width: 570px) {
    header {
        z-index: 1000;
        box-shadow: none; /* Ombre */

    }
    .mini-container {
        background-color: var(--header-color);
        position: relative;
        display: flex;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3); /* Ombre */
        align-items: center;
        justify-content: center;
    }
    .mini-image {
        margin-top: 5px;
        width: 70px;
        height: 10%;
    }
    .navbar {
        display: none;
        position: absolute;
        top: 80px;
        width: 100vw;
        flex-direction: column;
        position: absolute;
        transform: translateX(0%); /* Déplace la navbar de 50% de sa largeur pour la centrer */
        left: 0;
        padding: 10px 0;
        transition: transform 0.3s ease-in-out;
        z-index: -1;
    }
    .navbar a {
        display: flex;
        font-family: "Tiny5";
        font-weight: 500;
        text-decoration: none;
        font-size: 18px; /* Taille du texte */
        padding: 10px; /* Espacement autour des liens */
        margin: 10px;
        text-align: center; /* Centrer le texte des liens */
        color: var(--text-color-2);
        border-bottom: 3px solid #15171a; /* Ajout de la bordure avec la couleur et l'épaisseur */
    }
    .navbar.active {
        display: flex; /* Afficher la navbar quand elle est active */
        background-color: var(--bg-navbar);
        justify-content: center;
        align-items: center;
        z-index: -1;
        animation: slideIn 0.3s ease-in-out forwards;

    }
    .navbar.hidden {
        display: flex;
        animation: slideOut 0.3s ease-in-out forwards;
        background-color: var(--bg-navbar);
    }
    @keyframes slideOut {
        from {
            top: 80px; /* Commence en dehors de l'écran */
        }
        to {
            top: -110px; /* Position finale sous le header */
        }
    }
    
    @keyframes slideIn {
        from {
            top: -110px; /* Commence en dehors de l'écran */
        }
        to {
            top: 80px; /* Position finale sous le header */
        }
    }
    .theme-selector {
        position: relative;
        margin-top: 10px;
    }
    #theme-btn {
        font-family: Tiny5;
        color: var(--text-color-1);
        background-color: var(--btn-bg-1);
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
    }
    #theme-menu {
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        width: 100%;
        z-index: 10;
        background: white;
    }
    #theme-menu li {
        padding: 10px;
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
        height: 20px;
    }

    /* _____Menu_déroulant_Hamamburgermamam_____ */
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: var(--btn-bg-2);
        cursor: pointer;
    }

}