/* 🌞 Thème clair */
html[data-theme="light"] {
    --bg-color: white;

    --header-color: black;
    --bg-navbar: white;

    --text-color-navbar: var(--text-color-1);
    --text-color-1: white;
    --text-color-2: black;
    --btn-bg-1: black;
    --btn-bg-2: white;

    --container-bg-1: white;
    --container-bg-2: black;

    --box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.256);

}

/* 🌙 Thème sombre */
html[data-theme="dark"] {
    --bg-color: black;

    --header-color: white;
    --bg-navbar: black;

    --text-color-navbar: var(--text-color-1);
    --text-color-1: black;
    --text-color-2: white;
    --btn-bg-1: white;
    --btn-bg-2: black;

    --container-bg-1: black;
    --container-bg-2: white;

    --box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.304);


}

html[data-theme="happy"] {
    --bg-color: #FFF5E4;

    --header-color: #FFA725;
    --bg-navbar: #FFF5E4;

    --text-color-navbar: var(--text-color-1);
    --text-color-1: #FFF5E4;
    --text-color-2: rgb(0, 0, 0);
    --btn-bg-1: #C1D8C3;
    --btn-bg-2: #FFF5E4;

    --container-bg-1: #FFF5E4;
    --container-bg-2: #FFA725;

    --box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.304);

}

html[data-theme="mystery"] {
    --bg-color: none;
    --header-color: #FFB200;
    --bg-navbar: #FFF5E4;

    --text-color-navbar: #EB5B00;
    --text-color-1: #FFB200;
    --text-color-2: #FFB200;
    --btn-bg-1: #640D5F;
    --btn-bg-2: #EB5B00;

    --container-bg-1: #640D5F;
    --container-bg-2: #640D5F;

    --box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.304);

    animation: backgroundFade 10s ease-in-out infinite;
}


/* Appliquer les couleurs aux éléments */
header{
    background-color: var(--header-color);
}
.navbar a {
    color: var(--text-color-1);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    background-size: 200% 200%;
}
@keyframes backgroundFade {
    0% {
        background-color: #ffffff; /* Couleur de départ */
    }
    25% {
        background-color: #ffb3002e; /* Couleur intermédiaire 1 */
    }
    50% {
        background-color: #eb5a0025; /* Couleur intermédiaire 2 */
    }
    75% {
        background-color: #640d6019; /* Couleur intermédiaire 3 */
    }
    100% {
        background-color: #ffffff; /* Retour à la couleur de départ */
    }
}

button {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    opacity: 0.8;
}

.card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
